<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <img src="public/assets/images/404img.jpg" class="auth-image" alt="Black and White Nova 404 Error"></img>
    </h1>
    <a href="/views/layouts/index.handlebars">â† Link back to home page </a>
  </div>
</div>