<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found feldmanb-authentication
      <span>
        <img src="/images/404img.png" class="img-fluid" alt="Black and White Nova 404 Image" >
      {{!-- <img src="public/assets/images/404img.jpg" class="auth-image" alt="Black and White Nova 404 Error"></img> --}}
      </span>
      <img src="/images/404img.jpg" class="auth-image" alt="Black and White Nova 404 Error"></img>
    </h1>
    <a href="/">← Link back to home page </a>
  </div>
</div>