<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Error You have found the end of the internet, please return to the Pet Venue
      Review Home Page by clicking the link below...
      <span>
        <img src="/images/404img.png" class="img-fluid" alt="Black and White Nova 404 Image">
    </h1>
    <a href="/">â† Link back to home page </a>
  </div>
</div>