
  <!-- This is the main tag to keep the footer sticky! -->
    
    <main>
        <div class="jumbotron jumbotron-fluid" id="homeJumbotron">
            <div class="container text-center">
                <h1 class="display-2" id="homeHeader">Pet Venue Review</h1>
                    <p class="lead" id="homeLead">Discover new pet-friendly places, and connect with friends!</p>
                    <button type="button" class="btn btn-dark btn-lg" id="signInBtn" href="/petVenue">Sign In <i class="fas fa-paw"></i></button>
                    <button type="button" class="btn btn-dark btn-lg" id="signUpBtn" href="/petVenue">Sign Up <i class="fas fa-paw"></i></button>
            </div>
        </div>
    </main>

     <!-- This is the footer! -->
    <footer>
        <div class="container-fluid text-center">
          <p id="footerText"> © The Destroyers 2019</p>
        </div>
    </footer>

    <!-- This is the modal for sign in! -->
    <div class="modal" tabindex="-1" role="dialog" id="signInModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Log in to Pet Venue Review!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Don't have an account? <a href="#" id="signUpLink">Sign up!</a></p>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Keep me sign in</label>
                  </div>
                  <button type="submit" class="btn btn-dark btn-lg">Sign In <i class="fas fa-dog"></i></button>
                </form>
            </div>
          </div>
        </div>
      </div>

      <!-- This is the modal to sign up! -->
      <div class="modal" tabindex="-1" role="dialog" id="signUpModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sign up for Pet Venue Review!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Already have an account? <a href="#" id="signInLink">Sign in!</a></p>
              <form>
                  <div class="form-group">
                      <label for="firstName">First Name:</label>
                      <input type="text" class="form-control" id="firstName" placeholder="First Name">
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Create Password">
                  </div>
                  <button type="submit" class="btn btn-dark btn-lg">Sign Up <i class="fas fa-dog"></i></button>
                </form>
            </div>
          </div>
        </div>
      </div>
