    <link rel="stylesheet" type="text/css" href="../styles/petVenueStyle.css">
    
    <!-- This is the navbar! -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pet Venue Review <i class="fas fa-dog"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bone"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Friends <i class="fas fa-hand-peace"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Places <i class="fas fa-map-marked-alt"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" id="postHotel"><i class="fas fa-hotel"></i> Hotels</a>
                        <a class="dropdown-item" href="#" id="postRestaurant"><i class="fas fa-utensils"></i> Restaurants</a>
                        <a class="dropdown-item" href="#" id="postVeterinarian"><i class="fas fa-user-md"></i> Veterinarian</a>
                        <a class="dropdown-item" href="#" id="postPetPark"><i class="fas fa-leaf"></i> Pet Parks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out <i class="fas fa-times-circle"></i></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="searchForm">
                <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div> 
    </nav>
    <br>

    <!-- This is the main tag to keep the footer sticky! -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="mainHeader">Your Places:</h1>
                </div>
            </div>
            <div class="row">
                {{#each places}}
                <div class="col-sm-4">
         
                        <img src="/images/dog_{{this.type}}.png" class="img-fluid" alt="Pet Friendly Places" >

                    <button id={{this.id}} type="button" class="placeModal btn btn-primary btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">{{this.name}} <i class="fas fa-paw"></i></button>
                </div>
                {{/each}}
            </div>
        </div>
    </main>

    <!-- This is the footer! -->
    <footer>
        <nav class="navbar navbar-dark bg-dark ">
            <div class="container-fluid justify-content-center">
                <p id="footerText"> © The Destroyers 2019</p>
            </div>     
        </nav>
    </footer>

<!-- This is the modal to post hotel! -->

    <div class="modal" tabindex="-1" role="dialog" id="postHotelModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Post a Hotel!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="reviewForm">
                        <div class="form-group">
                            <label for="nameHotel">Name of Hotel:</label>
                            <input type="text" class="form-control" name="name" id="nameHotel" placeholder="Hotel Name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City:</label>
                                <input type="text" class="form-control" name="city" id="inputCity" placeholder="City">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">State:</label>
                                <input type="text" class="form-control" name="state" id="inputState" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reviewHotel">Review of Hotel:</label>
                           <textarea class="form-control" id="reviewHotel" rows="3" name="review" placeholder="Hotel Review"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="linkHotel">Link to Hotel's Website:</label>
                            <input type="text" class="form-control" id="linkHotel" name="website" placeholder="Hotel Website">
                        </div>
                        <div class="form-group">
                            <label for="inputPhoto">Photo:</label>
                            <input type="file" class="form-control-file" id="inputPhoto">
                        </div>
                        <input type="hidden" name="type" value="hotel">
                        <button type="submit" class="btn btn-dark btn-lg">Post Hotel <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the modal to post restaurant! -->

    <div class="modal" tabindex="-1" role="dialog" id="postRestaurantModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Post a Restaurant!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="reviewForm">
                        <div class="form-group">
                            <label for="nameRestaurant">Name of Restaurant:</label>
                            <input type="text" class="form-control" id="nameRestaurant" name="name" placeholder="Restaurant Name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City:</label>
                                <input type="text" class="form-control" id="inputCity" name="city" placeholder="City">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">State:</label>
                                <input type="text" class="form-control" id="inputState" name="state" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descriptionRestaurant">Description of Restaurant:</label>
                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review" placeholder="Restaurant Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="linkRestaurant">Link to Restaurant's Website:</label>
                            <input type="text" class="form-control" id="linkRestaurant" name="website" placeholder="Restaurant Website">
                        </div>
                        <div class="form-group">
                            <label for="inputPhoto">Photo:</label>
                            <input type="file" class="form-control-file" id="inputPhoto">
                        </div>
                        <input type="hidden" name="type" value="restaurant">
                        <button type="submit" class="btn btn-dark btn-lg">Post Restaurant <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the modal to post veterinarians! -->
    
    <div class="modal" tabindex="-1" role="dialog" id="postVeterinarianModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Post a Veterinarian!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="reviewForm">
                        <div class="form-group">
                            <label for="nameVeterinarian">Name of Veterinarian:</label>
                            <input type="text" class="form-control" id="nameVeterinian" name="name" placeholder="Veterinarian Name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City:</label>
                                <input type="text" class="form-control" id="inputCity" name="city" placeholder="City">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">State:</label>
                                <input type="text" class="form-control" id="inputState" name="state" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descriptionVeterinarian">Description of Veterinarian:</label>
                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review" placeholder="Veterinarian Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="linkVeterinarian">Link to Veterinarian's Website:</label>
                            <input type="text" class="form-control" id="linkVeterinarian" name="website" placeholder="Veterinarian Website">
                        </div>
                        <div class="form-group">
                            <label for="inputPhoto">Photo:</label> 
                            <input type="file" class="form-control-file" id="inputPhoto">
                        </div>
                        <input type="hidden" name="type" value="veteranarian">
                        <button type="submit" class="btn btn-dark btn-lg">Post Veterinarian  <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the modal to post pet park! -->

    <div class="modal" tabindex="-1" role="dialog" id="postPetParkModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Post a Pet Park!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="reviewForm">
                        <div class="form-group">
                            <label for="namePetPark">Name of Pet Park:</label>
                            <input type="text" class="form-control" id="namePetPark" name="name" placeholder="Pet Park Name">
                        </div>
                                                <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City:</label>
                                <input type="text" class="form-control" id="inputCity" name="city" placeholder="City">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">State:</label>
                                <input type="text" class="form-control" id="inputState" name="state" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descriptionPetPark">Description of Pet Park:</label>
                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review" placeholder="Pet Park Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputPhoto">Photo:</label>
                            <input type="file" class="form-control-file" id="inputPhoto">
                        </div>
                        <input type="hidden" name="type" value="park">
                        <button type="submit" class="btn btn-dark btn-lg">Post Pet Park <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- This is the large modal for content! -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div id="reviewModalContent" class="modal-content"></div>
        </div>
    </div>

